<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
</head>
<body>
    <div>
        My Menu: 
        <p><a href="{{ url_for('index') }}">Home</a></p>
    </div>
    <hr>
     
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block main %}
    {% endblock %}
    
</body>
</html>